# Gradle
.gradle/
build/

# Android Studio / IntelliJ
*.iml
.idea/
/local.properties
.externalNativeBuild/
.cxx/
/captures

# Kotlin
.kotlin/
*.kotlin_module

# OS specific
.DS_Store
Thumbs.db
desktop.ini

# Logs & Temporary Files
*.log
full_logs.txt

# Common Build Artifacts
app/release/*.apk
app/release/*.json
app/release/baselineProfiles/**/*.dm
